<div class="grid gap-2 d-flex flex-column">
    <div class="row">
        <div class="col col-4">
            <button class="btn btn-primary" (click)="navToAddTasks()">Add Task</button>
        </div>
    </div>
    <div class="row">
        @defer () {
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Current State</th>
                        <th>Completed</th>
                        <th>Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (task of pageTasks; track $index) {
                        <tr>
                            <td>{{task.title}}</td>
                            <td>{{task.description}}</td>
                            <td>{{task.dueDate}}</td>
                            <td>
                                <ul>
                                    <li>State: {{task.stateHistory.state}}</li>
                                    <li>Date: {{task.stateHistory.date}}</li>
                                </ul>
                            </td>
                            <td>{{task.completed}}</td>
                            <td>{{task.notes}}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <button class="dropdown-item" (click)="navToAddTasks(task.id)">Editar</button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav>
                <ul class="pagination justify-content-left">
                    <li class="page-item" (click)="prevPage()" [ngClass]="{'disabled': currentPage === 1}">
                        <a class="page-link">Prev</a>
                    </li>
                    @for (val of pages; track $index) {
                        <li [ngClass]="{'active': currentPage === val+1}" class="page-item" (click)="changePage(val+1)">
                            <a class="page-link"> {{val+1}} </a>
                        </li>
                    }
                    <li class="page-item" (click)="nextPage()" [ngClass]="{'disabled': currentPage === pages.length}">
                        <a class="page-link">Next</a>
                    </li>

                </ul>

            </nav>
        }
    </div>

</div>
