.header-color {
    background-color: #66182A;
}

.button-container {
    width: fit-content;
}
.active > .page-link, .page-link.active {
    background-color:#66182A ;
    border: #66182A;
    color: white;
}

.page-link {
    color: #66182A;
}

.cursor-pointer {
    cursor: pointer;
}